In [1]:
import pandas as pd, numpy as np, re
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('../data/input/train.csv', parse_dates=['Datetime'])

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 881876 entries, 0 to 881875
Data columns (total 8 columns):
ID                 881876 non-null object
Item_ID            881876 non-null int64
Datetime           881876 non-null datetime64[ns]
Category_3         881876 non-null int64
Category_2         790263 non-null float64
Category_1         881876 non-null int64
Price              881876 non-null float64
Number_Of_Sales    881876 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 53.8+ MB

* Datetime is a proper datetime object and not a string
* there are null values in category_2

In [4]:
df.head()

,ID,Item_ID,Datetime,Category_3,Category_2,Category_1,Price,Number_Of_Sales
0,30495_20140101,30495,2014-01-01,0,2.0,90,165.123,1
1,30375_20140101,30375,2014-01-01,0,2.0,307,68.666,5
2,30011_20140101,30011,2014-01-01,0,3.0,67,253.314,2
3,30864_20140101,30864,2014-01-01,0,2.0,315,223.122,1
4,30780_20140101,30780,2014-01-01,1,2.0,132,28.750,1

In [5]:
df.Category_2.unique()

array([ 2.,  3.,  1.,  4.,  5., nan])

In [6]:
print("No of unique Items: {}".format(df.Item_ID.nunique()))
print("Category_1 - No of unique values: {}".format(df.Category_1.nunique()))
print("Category_3 - No of unique values: {}".format(df.Category_3.nunique()))

No of unique Items: 1529
Category_1 - No of unique values: 359
Category_3 - No of unique values: 2

* Category_3 is binary
* Category_1 is probably a product category.
* Category_2 is an ordered categorical variable as mentioned in the dataset description

In [7]:
print('Distribution of daily Item sales')
df.Number_Of_Sales.describe()

Distribution of daily Item sales

count    881876.000000
mean       1201.021046
std        7750.049731
min           1.000000
25%          69.000000
50%         239.000000
75%         746.000000
max      598054.000000
Name: Number_Of_Sales, dtype: float64

In [8]:
print('Distribution of median price of a product on a day')
df.Price.describe()

Distribution of median price of a product on a day

count    881876.000000
mean          5.484011
std          22.472598
min           0.030000
25%           0.125000
50%           0.513000
75%           2.070000
max         424.148000
Name: Price, dtype: float64

In [ ]:
def